<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DataConnectionDialog" version="1.2" targetFramework="net461" />
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net461" />
  <package id="EnterpriseLibrary.Logging" version="6.0.1304.0" targetFramework="net461" />
  <package id="FCTB" version="2.16.21.0" targetFramework="net461" />
  <package id="Microsoft.Data.ConnectionUI" version="15.0.26201" targetFramework="net461" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.2" targetFramework="net461" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net461" />
</packages>