################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ASProfilerTraceImporter/.vs/ASProfilerTraceImporter/v14/.suo
