<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ASProfilerTraceImporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="dll" />
    </assemblyBinding>
  </runtime>
  <userSettings>
    <ASProfilerTraceImporter.Properties.Settings>
      <setting name="ConnStr" serializeAs="String">
        <value />
      </setting>
      <setting name="Table" serializeAs="String">
        <value />
      </setting>
    </ASProfilerTraceImporter.Properties.Settings>
  </userSettings>
</configuration>